{{#if error}}
    <div class="alert alert-danger" style="color: red; font-weight: bold;">
        {{error}}
    </div>
{{/if}}

{{#if success}}
    <div class="alert alert-success" style="color: green; font-weight: bold;">
        {{success}}
    </div>
{{/if}}