<form action="/registro/codigo/confirmacao" method="post">

<p>Digite o codigo que enviamos em seu email</p>
<input type="text" name="codigo" id="codigo">


<button type="submit">enviar</button>

</form>
