<form action="" method="">

<p>Titulo</p>
<input type="text" name="titulo" id="titulo">
<p>Descrição</p>
<input type="text" name="descricao" id="descricao"><br><br>
<p>Data</p>
<input type="date" name="data" id="data"><br><br>
<p>carga horária</p>
<input type="number" name="carga_horaria" id="carga_horaria"><br><br>

<button type="submit">Criar Evento</button>
</form>