<h1>Painel Principal</h1>
<nav>
    <ul>
        <li><a href="/criar-evento"><button type="button">Criar Evento</button></a></li>
        <li><a href="/ver"><button type="button">Ver Eventos</button></a></li>
        <li><a href="/login"><button type="button">Sair / Login</button></a></li>
    </ul>
</nav>