<form action="/participante/inscrevendo" method="POST">

<p>Nome:</p>
<input type="text" name="nome" id="nome">

<p>CPF:</p>
<input type="text" name="cpf" id="cpf">

<p>Email:</p>
<input type="email" name="email" id="email">

<p>Instituição</p>
<input type="text"  name="instituicao" id="instituicao">


<button type="submit">Inscrever-se</button>
</form>
