<h2>Acessar Conta</h2>

{{#if erro}}
    <p style="color: red; font-weight: bold;">Senha ou e-mail incorretos!</p>
{{/if}}

<form action="/login/confirmacao" method="POST">
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="email" id="email" required>
    </div>
    <br>
    <div>
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="senha" required>
    </div>
    <br>
    <button type="submit">Entrar</button>
</form>

<hr>
<p>Não tem uma conta?</p>
<a href="/registro"><button type="button">Registrar-se</button></a>