<form action="/login/confirmacao" method="POST">

{{#if erro}}
    <p style="color: red;">Senha ou email incorretos!</p>
{{/if}}

<p>Login</p>
<input type="text" name="email" id="email">
<p>Senha</p>
<input type="password" name="senha" id="senha"><br><br>

<button type="submit">Entrar</button>
</form>

<button><a href="/registro">Registrar</a></button>