<form action="/registro/confirmacao" method="POST"> 
    {{#if error}}
        <p style="color: red;">Houver um erro ao criar o usuário.</p>
    {{/if}}

    {{#if confirmacao}}
        <p style="color: green;">Usuario criado com sucesso</p>
    {{/if}}
    
    
    
    <p>Nome: </p>
    <input type="text" name="nome" id="nome" maxlength="255">
    <p>email: </p>
    <input type="email" name="email" id="email" maxlength="255"><br>
    <p>senha: </p>
    <input type="password" name="senha" id="senha" minlength="8" maxlength="255">
    <p>digite novamente:</p>
    <input type="password" name="senhaN" id="senhaN" minlength="8" maxlength="255"><br> <br>
    
    
    <button type="submit">Enviar</button>
</form>

<button><a href="/login">Voltar para o login</a></button>