<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{{body}}} <!-- O {{body}} é um marcador de posição usado pelo Handlebars para inserir o conteúdo específico de cada página dentro do layout principal. Quando uma página é renderizada usando este layout, o conteúdo dessa página será inserido no lugar do {{body}}. -->
</body>
</html>